@model DepartmentViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Are you Sure to Delete this Department ?</h1>

<form method="post" asp-action="Delete">
    <input asp-for="Id" hidden />
    <partial name="PartialViews/_DetailsDeleteDepartmentPartialView"></partial>

    <button type="submit" class="btn btn-danger">Delete</button> |
    <a asp-action="Index" class="btn btn-light">Cancel</a>
</form>
