@model IdentityRole

@{
    ViewData["Title"] = "Create";
}

<h1>Create New Role</h1>

<form method="post" asp-action="Create">
    <partial name="PartialViews/_CreateEditRolePartialView"></partial>

    <button type="submit" class="btn btn-primary">Submit</button> | 
    <a asp-action="Index" class="btn btn-light">Back to List</a>

</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
}